<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navigation') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est necessitatibus minus repellendus fugit officia. Sint ullam nam neque impedit alias culpa voluptate vero rerum facilis, eaque iste. Obcaecati molestiae repudiandae autem error voluptates quam tenetur recusandae laudantium consectetur. Quia eveniet non temporibus incidunt nemo quam, ea repellendus, aspernatur debitis nobis ut recusandae vero mollitia ipsam architecto officiis in nihil obcaecati alias esse exercitationem rerum qui perspiciatis. Earum maiores facilis ipsam recusandae assumenda non aperiam natus at doloremque voluptas? Natus eius minima possimus accusantium incidunt sapiente eaque recusandae modi debitis eum fugit excepturi unde, repellat, impedit quos ut laboriosam doloremque assumenda alias nihil maiores voluptates in. Magnam, quidem blanditiis praesentium voluptatibus iste rem expedita harum ducimus enim officia voluptas nihil ea nemo, facilis delectus quia consequuntur nisi corporis suscipit tempora amet? Unde asperiores architecto adipisci, nihil vitae, earum facilis iusto ab sunt consequatur, voluptatibus fugiat quia tempora tenetur! Voluptate ducimus, est libero beatae vel modi cum dolor illo at, obcaecati ab possimus, nulla eaque nesciunt nihil consequuntur doloremque recusandae maiores? Eum officia, animi sequi iusto dolor fuga ipsa tempore veniam. Expedita perferendis optio id iste iure debitis, voluptates mollitia tempora numquam velit dolorem assumenda amet aspernatur quidem saepe corporis obcaecati doloremque facere nulla possimus est ratione eveniet tempore. Similique aspernatur illo eius illum aliquam tenetur repudiandae, ducimus, quisquam placeat, dicta quos alias consectetur tempora! Beatae corporis necessitatibus, non, aliquam minima aliquid ut qui laborum voluptatibus nam explicabo ex maxime esse alias totam! Expedita sequi soluta deleniti sit iure sunt ipsum qui impedit laboriosam nisi! Impedit, quis dolores voluptatem est accusantium aliquid hic similique! Corporis vel laborum esse autem nemo, eum blanditiis ducimus consequatur quia consequuntur voluptate ab sapiente? Explicabo debitis molestiae repudiandae excepturi, minima sint quisquam suscipit quam. Amet, quia eaque? Qui omnis iusto molestiae necessitatibus quae quo dolorem magni tenetur.</p>
        </section>
    </main>

    <%- include('partials/footer') %>
</body>
</html>